@font-face{
    font-family: myFancyFont;
    src: url('aayu.ttf'),
    url('aayu.eot');
}

.talk{
    text-shadow: #000000 2px 2px 4px; 
    background:rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 4px;
}


#imageCSS{
	padding-left: 0px;
	padding-right: 0px;
}
#imageHolder img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all .3s;
    opacity: 0.6;
}
#imageHolder img:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}
#sponsors img{
	cursor: default;
	border-radius: 2pt;
	box-shadow: 0 2px 10px -5px #000;
	transition: all .2s;
}
#sponsors img:hover{
	box-shadow: 0 8px 10px -8px #000;
	transform: scale(1.03,1.03);
}
#sponsors h2 {
	margin-top: 10px;
	margin-bottom: 48px;
    font: 18px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media only screen and (max-width:768px) {
    #sponsors {
        /*width: 100%;*/
    }

    #sponsors h2 {
    	margin-top: 10px;
    	margin-bottom: 20px;
        font: 14px/1em Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { 
    overflow: hidden; 
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


/************************************************************/

.slider {
  height: 100%;
  margin: 0 auto;
  position: absolute;
    width: 100%;
    background-color: #222222;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../img/slider/img1.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(../img/slider/img2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(../img/slider/img3.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.slide4 {
    background: url(../img/slider/img4.jpg)no-repeat top center;
      background-size: cover;
    animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% { opacity: 0}
}

@media(min-width: 600px) {
    .aaryu{
        font-size: 150px !important;
    }
}

@media(min-width:400px) and (max-width:600px) {
    .aaryu{
        font-size: 80px !important;
    }
}

@media (max-width:400px) {
    .aaryu{
        font-size: 60px !important;
    }
}

.aaryu{
    text-decoration: none;
    font-family: myFancyFont !important;
    font-weight: 100;
    text-transform: none;
    margin-bottom: 0px !important;
}

.more-btn{
    background: #ffffff;
    color: #007fff;
    border: 1px solid #007fff;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px 8px;
    float: right;
}

.package{
    padding: 0px;
    /*height: 400px;*/
    text-align: left;
    border: 1px solid #fff;
}

.pkg-cover{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition:.6s;
}

.pkg-cover:hover{
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}

.beach{
    background: url(../img/packages/beach.jpg)no-repeat center;
    background-size: cover;
}
.temple{
    background: url(../img/packages/temple.jpg)no-repeat center;
    background-size: cover;
}
.wild{
    background: url(../img/packages/wild.jpg)no-repeat center;
    background-size: cover;
}
.hill{
    background: url(../img/packages/hill.jpg)no-repeat center;
    background-size: cover;
}
.honey{
    background: url(../img/packages/couple.jpg)no-repeat center;
    background-size: cover;
}
.short{
    background: url(../img/packages/short.jpg)no-repeat center;
    background-size: cover;
}
.own{
    background: url(../img/packages/own.jpg)no-repeat center;
    background-size: cover;
}

.package .package-body {
    /*position: relative;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    z-index: 100;
    height: 250px;
    width: 100%;
    display: table-cell;
  vertical-align: bottom;
  padding-right: 10px;
}
.pkg-header{
    /*height: 180px;*/
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-family:sans-serif;
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
    background : rgba(0,128,255,0.6);
    padding-top:25px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    margin-bottom: 0px;
    border-radius: 0 20px 0 0 ;
}

.pkg-body{
    display: none;
    height: 220px;
    width: 100%;
    padding: 15px;
    font-weight: 200;
    font-size: 15px;
    vertical-align: middle;
    background : rgba(0,0,0,0.6);
    padding-top:25px;
}